.navigation-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 5% 0 5%;
}

.navigation-container .navigation-button {
    padding: .4rem .8rem;
    cursor: pointer;
    border-width: 3px;
    background: none;
    border-radius: 10px;
}

.navigation-button:not(:hover){
    background: None !important;
}

.navigation-button:hover{
    color:white !important;
}
