

body{
    margin: 0;
    padding: 0;
}

header{
    padding-bottom: 2%;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10% 0 10%;
}

.header-container img{
    height: auto;
    width: 20%;
}

h1{
    text-align: center;
    margin-top: 1rem;
}

.searchbar {
    position: relative;
    width: 20%;
    text-align: right;
}

.searchbar input{
    width: 100%;
}

.searchbar button{
    display:flex;
    justify-content:flex-end;
    align-items: flex-end;
}
#tech-list {
    position: relative; 
    /* ... Vos autres styles pour #tech-list ... */
}
.resultat{
    position: absolute;
    margin-top: 4px;
    top: 100%;
    left:0;
    width:100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    background-color: #fff;
    z-index: 100;
}

.resultat div {
    padding: 4px 8px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    background-color: #d8cbcb;
}

.resultat div:hover{
    background-color: #f0f0f0;
}

/* S'assurer que le pied de page est toujours en bas (approche sticky footer si le contenu est court) */
body {
    display: flex;
    flex-direction: column;
    min-height: 100vh; /* La page doit prendre au moins toute la hauteur de la fenêtre */
    margin: 0;
}

/* Le contenu principal doit prendre tout l'espace restant */
main { 
    flex-grow: 1;
    /* Assurez-vous que l'élément qui contient votre contenu principal a aussi un flex-grow: 1 */
}

/* Style du pied de page lui-même */
#app-footer {
    background-color: #333; /* Un fond sombre classique */
    color: #fff;
    padding: 15px 20px;
    text-align: center;
    font-size: 0.95em;
    border-top: 1px solid #444;

}

/* Styles pour la navigation ou les liens dans le footer */
.footer-nav a {
    color: #ccc;
    text-decoration: none;
    margin: 0 10px;
}

.footer-nav a:hover {
    color: #fff;
    text-decoration: underline;
}
