

body{
    margin: 0;
    padding: 0;
}

header{
    padding-bottom: 2%;
}

.header-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10% 0 10%;
}

.header-container img{
    height: auto;
    width: 20%;
}

h1{
    text-align: center;
    margin-top: 1rem;
}

.searchbar {
    position: relative;
    width: 20%;
    text-align: right;
}

.searchbar input{
    width: 100%;
}

.searchbar button{
    display:flex;
    justify-content:flex-end;
    align-items: flex-end;
}

.resultat{
    position: absolute;
    margin-top: 4px;
    top: 100%;
    left:0;
    width:100%;
    max-height: 200px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 6px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.1);
    background-color: #fff;
    z-index: 100;
}

.resultat div {
    padding: 4px 8px;
    cursor: pointer;
    font-size: 14px;
    color: #333;
    background-color: #d8cbcb;
}

.resultat div:hover{
    background-color: #f0f0f0;
}
